body {
  background-color: rgb(236, 242, 248);
}

.collapsedInfo:hover {
  text-decoration: underline;
  cursor: pointer;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #0f172a;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

#mySidebar {
  color: white;
  font-size: 30px;
}

.sidebar > div {
  margin-bottom: 50px;
}

.sidebar a {
  text-decoration: none;
  display: block;
  color: white;
  transition: 0.3s;
  font-weight: 800;
  font-size: 22px;
}

.modal {
  background-color: aliceblue;
}

.modal-content {
  height: 500px;
}

#startWatching {
  height: 65px;
}

#watchPrayer > div.card-body {
  height: 18rem;
}

.watch-text {
  font-size: 25px;
}

#prayerGuide {
  height: 38.5rem;
  object-fit: cover;
  object-position: 0% 50%;
}

img.pray {
  height: auto;
}

.btn#campusSelect {
  border-radius: 100px;
  width: 40rem;
}

#liftedHands {
  height: 250px;
  width: 250px;
  position: relative;
  z-index: 1;
}

#stage {
  height: 350px;
  width: 350px;
  margin-left: 10rem;
  margin-top: -3rem;
}

#aisle {
  height: 250px;
  width: 425px;
  margin-top: -30rem;
  object-fit: cover;
}

#smallApp {
  display: none;
}

#phone {
  height: 500px;
  width: 250px;
}

#prayFirst {
  height: 175px;
  width: 175px;
}

#appStores {
  height: 45px;
  width: 250px;
  font-size: 18px;
}

#appDescription {
  font-size: 29px;
}

.resources-prayer-fasting > div {
  transition: all 0.4s ease-in-out;
}

.resources-prayer-fasting > div:hover {
  transform: scale(1.07);
  cursor: pointer;
}

#contactUs {
  border-radius: 100px;
  height: 3rem;
  width: 12rem;
}

button.btn:hover {
  background-color: white;
  color: rgb(0, 0, 0);
  transition: 0.4s;
}

#contactUs {
  height: 60px;
  width: 200px;
}

.hidden {
  display: none;
}

#footerMiddle > div > div {
  font-size: 23px;
}

#footerRight > div > div > p {
  font-size: 21px;
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
  #watchPrayer > div.card-body {
    height: 18rem;
  }

  .watch-text {
    font-size: 25px;
  }

  #prayerGuide {
    height: 38.5rem;
  }

  .btn#campusSelect {
    margin-left: -4rem;
  }

  #liftedHands {
    border-radius: 15px;
    position: relative;
    z-index: 1;
  }

  #stage {
    margin-top: -3rem;
    margin-left: 5rem;
  }

  #appDescription {
    font-size: 28px;
  }

  #logo {
    margin-left: -1rem;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  #watchPrayer > div.card-body {
    height: 18rem;
  }

  .watch-text {
    font-size: 25px;
  }

  #prayerGuide {
    height: 38rem;
  }

  .btn#campusSelect {
    margin-left: -8rem;
  }

  #aisle {
    margin-left: 2rem;
  }

  #stage {
    margin-left: 3rem;
  }

  #appDescription {
    font-size: 24px;
  }

  #footerMiddle > div > div {
    font-size: 22px;
  }

  #footerRight > div > div > p {
    font-size: 19px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  #watchPrayer > div.card-body {
    height: 15rem;
  }

  .watch-text {
    width: 575px;
    font-size: 25px;
  }

  #prayerGuide {
    height: 35rem;
  }

  .btn#campusSelect {
    border-radius: 100px;
    width: 35rem;
  }

  #liftedHands {
    z-index: 2;
  }

  #stage {
    margin-left: 0rem;
    position: relative;
    z-index: 1;
  }

  #aisle {
    margin-top: -2rem;
    z-index: -1;
  }

  #largeApp {
    display: none;
  }

  #smallApp {
    display: block;
  }

  #appStores {
    height: 50px;
    width: 275px;
    font-size: 25px;
  }

  #appDescription {
    font-size: 27px;
  }

  #contactUs {
    margin-right: 6.25rem;
  }

  #footerMiddle > div > div {
    font-size: 23px;
  }

  #footerRight > div > div > p {
    font-size: 21px;
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  #watchPrayer > div.card-body {
    height: 15rem;
  }

  .watch-text {
    width: 400px;
    font-size: 22px;
  }

  #prayerGuide {
    height: 35rem;
  }

  #liftedHands {
    z-index: 2;
  }

  #stage {
    margin-left: 0rem;
    position: relative;
    z-index: 1;
  }

  #aisle {
    margin-top: -2rem;
    z-index: -1;
  }

  #largeApp {
    display: none;
  }

  #smallApp {
    display: block;
  }

  #appStores {
    height: 50px;
    width: 275px;
    font-size: 25px;
  }

  #appDescription {
    font-size: 27px;
  }

  #contactUs {
    margin-right: 3rem;
  }
}

@media screen and (max-width: 575px) {
  #watchPrayer > div.card-body {
    height: 15rem;
  }

  .watch-text {
    width: 450px;
    font-size: 21px;
  }

  #prayerGuide {
    height: 35rem;
  }

  .btn#campusSelect {
    width: 20rem;
    margin-left: 0px;
  }

  #liftedHands {
    z-index: 2;
  }

  #stage {
    margin-left: 0rem;
    position: relative;
    z-index: 1;
  }

  #aisle {
    margin-top: -2rem;
    z-index: -1;
  }

  #largeApp {
    display: none;
  }

  #smallApp {
    display: block;
  }

  #appStores {
    height: 50px;
    width: 275px;
    font-size: 25px;
  }

  #appDescription {
    font-size: 27px;
  }

  #contactUs {
    margin-right: 2rem;
  }
}
