body {
  background-color: rgb(220, 229, 237);
}

.collapsedInfo:hover {
  text-decoration: underline;
  cursor: pointer;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #0f172a;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

#mySidebar {
  color: white;
  font-size: 30px;
}

.sidebar > div {
  margin-bottom: 50px;
}

.sidebar a {
  text-decoration: none;
  display: block;
  color: white;
  transition: 0.3s;
  font-weight: 800;
  font-size: 22px;
}

.modal {
  background-color: aliceblue;
}

.modal-content {
  height: 500px;
}

#resourcesCard {
  width: 28rem;
  height: 28rem;
}

#resourcesImg {
  z-index: 100;
  position: relative;
  margin-top: -200px;
  width: 250px;
}

#personalPrayerGuide > .card,
#morePrayerGuides > .card,
.rowOfPrayers > .col > .card,
.prayer-fasting {
  transition: transform 0.25s, background 0.25s;
}

#personalPrayerGuide > .card:hover {
  transform: scale(1.05);
  position: relative;
  z-index: 1;
  cursor: pointer;
}

#morePrayerGuides > .card:hover,
.rowOfPrayers > .col > .card:hover {
  transform: scale(1.07);
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.prayers {
  height: 11rem;
  width: 7rem;
}

#prayerApp {
  height: 39rem;
  width: 30rem;
}

#prayFirst {
  height: 12rem;
  width: 12rem;
}

#appStores {
  height: 60px;
  width: 22rem;
}

button.btn:hover {
  background-color: #ecf2f8;
  color: rgb(0, 0, 0);
  transition: 0.4s;
}

.overlay {
  position: relative;
}

.overlay:hover {
  cursor: pointer;
}

.overlay > img {
  height: 100%;
  width: 100%;
}

.overlay-button {
  left: 0;
  position: absolute;
  top: 0;

  height: 100%;
  width: 100%;

  align-items: center;
  display: flex;
  justify-content: center;

  background-color: rgba(0, 0, 0, 0.25);
}

.prayer-fasting:hover {
  transform: scale(1.07);
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.prayer-fasting > div > div:first-child > svg {
  margin-right: -20px;
}

.prayer-aisle > img {
  height: 40rem;
  width: 40rem;
  object-fit: cover;
  object-position: 30% 70%;
}

@media screen and (max-width: 992px) {
  #resourcesCard {
    height: 25rem;
    width: 22rem;
  }
}

@media screen and (max-width: 768px) {
  #resourcesCard {
    height: 22rem;
    width: 35rem;
  }
}

@media screen and (max-width: 576px) {
  #resourcesCard {
    height: 22rem;
    width: 22rem;
  }
}
