body {
  background-color: rgb(220, 229, 237);
}

.collapsedInfo:hover {
  text-decoration: underline;
  cursor: pointer;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #0f172a;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

#mySidebar {
  color: white;
  font-size: 30px;
}

.sidebar > div {
  margin-bottom: 50px;
}

.sidebar a {
  text-decoration: none;
  display: block;
  color: white;
  transition: 0.3s;
  font-weight: 800;
  font-size: 22px;
}

.modal {
  background-color: aliceblue;
}

.modal-content {
  height: 500px;
}

#resourcesImg {
  z-index: 100;
  position: relative;
  margin-top: -200px;
}

#personalPrayerGuide > .card,
#morePrayerGuides > .card,
.rowOfPrayers > .col > .card {
  transition: transform 0.25s, background 0.25s;
}

#personalPrayerGuide > .card:hover {
  transform: scale(1.05);
  position: relative;
  z-index: 1;
  cursor: pointer;
}

#morePrayerGuides > .card:hover {
  transform: scale(1.07);
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.rowOfPrayers > .col > .card:hover {
  transform: scale(1.07);
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.prayers {
  height: 11rem;
  width: 7rem;
}
